
.vs/AquariumBreeding/v17/.suo
.vs/AquariumBreeding/FileContentIndex/3e935fda-b7d7-4229-bce3-59e2eb257928.vsidx
.vs/AquariumBreeding/FileContentIndex/63088d08-ed8c-4432-9200-31f1540f10b1.vsidx
.vs/AquariumBreeding/FileContentIndex/a18c7ca6-ffbf-41fc-a4b7-fe80664a9196.vsidx
.vs/AquariumBreeding/FileContentIndex/d619615e-a9c9-407e-a015-459e7195201e.vsidx
*.vsidx
